.container {
    border-top: var(--border-width-sm) solid var(--color-border);
    background-color: var(--color-bg-primary);
}

.container:last-child {
    border-bottom: var(--border-width-sm) solid var(--color-border);
}

.content {
    padding: var(--space-2) var(--space-3);
    border-top: var(--border-width-sm) solid var(--color-border);
    font-family: var(--font-family-sans);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
}
